.wrapper {
	display: inline-block;
	height: auto;
	width: 100%;
	padding-bottom: 5px;
}
h1 {
	text-align: left;
	display: inline;
	vertical-align: top;
	margin: 0px 30% 0px 0px;
}
.top {
	color: white;
	background-color: #5c5c8a;
	width: 100%;
	padding: 10px 30px;
	text-align: right;
}

.bottom {
	width: auto;
	text-align: right;
	padding-right: 88px;
}
h2 {
	margin-right: 111px;
	color: #5c5c8a;
}
input {
	margin-bottom: 2px;
	color: #5c5c8a;
}
.signup {
	color: #5c5c8a;
}
form {
	display: inline-block;
	vertical-align: center;
}
.error {
	color: white;
	display: inline-block;
	background-color: #db524b;
	width: 100%;
	text-align: center;
}
.success {
	color: white;
	display: inline-block;
	background-color: #58b958;
	width: 100%;
	text-align: center;
}
.div {
	background-color: lightgray;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	display: inline-block;
	width: auto;
}
.addresses {
	margin-left: 20px;
}
.submits {
	margin-top: 10px;
}
.btn-primary.submits {
	margin-left: 120px;
}