<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<html>
<head>
	<title>The Wall</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylewall.css') }}">
</head>
<body>
<!-- TOP -->
<div class="wrapper">
	<div class="top">
		<h1>The Wall</h1>
		<h4>Welcome {{ name }}</h4>
		<form action="/logout" id="logout">
			<input class="btn btn-danger" type="submit" name="logout" value="log off">
		</form>
	</div>
<br>
<div id="container">
	<div class="message">
		<h3>Post a message:</h3>
		<form action="/post" method='POST' id="message">
			<input type="text" name="message"><br>
			<input type="submit" value="Post a message">
		</form>
	</div>
	{% for message in messages %}
	<div class="message">
		<h5>{{ message['first_name'] }} {{ message['last_name'] }} - {{ message['date'] }}</h5>
		<p>{{message['message']}}</p>
			{% for comment in comments %} 
				{% if comment['messages_id'] == message['id'] %}
					<div class="comment">
						<h6>{{comment['first_name']}} {{comment['last_name']}} {{comment['date']}}</h6>
						<p>{{comment['comment']}}</p>
					</div>
				{% endif %}
			{% endfor %}
		<div class="comment">
			<h5>Post a comment</h5>
				<form action="/comment/{{ message['id'] }}" method='POST'>
					<input type="text" name="text">
					<br>
					<input type="submit" value="Post a comment">
				</form>		
		</div>
	</div>
	{% endfor %}
	</div>
	<!-- FOOTER -->
	<div class="bottom"></div>
</body>
</html>